fieldset .items-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

fieldset .items-grid li {
  background-color: #f5f5f5;
  list-style: none;

  border: 2px solid #f5f5f5;
  border-radius: 8px;

  height: 180px;

  padding: 32px 24px 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  text-align: center;
  cursor: pointer;
}

fieldset .items-grid li span {
  margin-top: 16px;

  flex: 1;

  display: flex;
  align-items: center;
  color: var(--title-color);
}

fieldset .items-grid li.selected {
  background-color: #e1faec;
  border: 2px solid #34cb79;
}

fieldset .items-grid li.selected:hover {
  background-color: #e1faf9;
}

fieldset .items-grid img,
fieldset .items-grid span {
  pointer-events: none;
}
