<!DOCTYPE html>
<!DOCTYPE html>
<html lang="pt_br">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    {% block title %}
      <title>E-Coleta</title>
    {% endblock title %}

    <base href="/"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700&display=swap" rel="stylesheet"/>

    <link type="text/css" rel="stylesheet" href="/public/global/main.css"/>

    {% block styles %}{% endblock styles %}

    <link type="text/css" rel="stylesheet" href="/public/global/responsive.css"/>
  </head>
  <body>
    <div id="{{pageId}}">
      {% block content %}{% endblock content %}
    </div>

    {% block modal %}{% endblock modal %}

    {% block scripts %}{% endblock scripts %}
  </body>
</html>